<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h2>Where Seattle’s upzones would take place</h2>
        <p>
          TThe Seattle City Council is considering legislation that would make changes in 27 urban villages and some other areas while imposing new requirements on developers to help create affordable housing. The changes would occur across various density levels. Most land now zoned exclusively for single-family homes would not be affected.<br><br><b><i>Update:</i></b> The council made some amendments to the legislation on February 25. Those amendments ARE NOT reflected in the map below but are <a href="http://www.seattle.gov/council/committees/citywidemha/citywide-mha-amendments">described here.</a>

        <ul class="density-table">
          <% json.levels.forEach(function(row) { %>
          <li> <b>Level <%= row.level %>:</b>
            <%= row.description %>
          <% }) %>
        </ul>
        <div class="mode-controls control-block">
          <% [
            { data: "change", label: "Zoning change" },
            { data: "before", label: "Before rezone" },
            { data: "after", label: "After rezone" }
          ].forEach(function(input, i) { %>
          <input id="<%= input.data %>" type="radio" name="modes" value="<%= input.data %>" <%= !i ? "checked=\"checked\"" : "" %>>
          <label for="<%= input.data %>"><%= input.label %></label>
          <% }); %>
        </div>
        <!--<div class="type-filter control-block">
          <%
          var types = {};
          for (var k in json.codes) types[json.codes[k].type || ""] = true;
          Object.keys(types).filter(f => f).sort().forEach(function(d) { %>
          <input id="<%= d %>" type="checkbox" name="types" value="<%= d %>" checked="checked">
          <label for="<%= d %>"><%= d %></label>
          <% }) %>
        </div>-->
        <div class="key"></div>
        <div class="map-container" role="img" alt="A map of Seattle upzone data">
          <leaflet-map>
            <map-options>{ "scrollWheelZoom": false }</map-options>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>
          <button class="load-data">Click to load map</button>
        </div>
        <div class="notes">
          <p>
            *Under the plan, the city’s low-rise zones (LR1, LR2 and LR3) would be redefined to allow more density.
        </div>
        <div class="credit">
          Thomas Wilburn / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script>
window.zoneCodes = <%= JSON.stringify(json.codes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
