<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">
        <h2>Where the rezone takes place</h2>
        <p>
          The city's Mandatory Housing Affordability initiative will make zoning changes between five density levels (as listed below) based on displacement impact, transit, and affordable housing options. Lowrise zoning (LR1, LR2, and LR3) is also being redefined to be more dense.

        <ul class="density-table">
          <% json.levels.forEach(function(row) { %>
          <li> <b>Level <%= row.level %>:</b>
            <%= row.description %>
          <% }) %>
        </ul>
        <div class="mode-controls control-block">
          <% [
            { data: "change", label: "Zoning change" },
            { data: "before", label: "Before rezone" },
            { data: "after", label: "After rezone" }
          ].forEach(function(input, i) { %>
          <input id="<%= input.data %>" type="radio" name="modes" value="<%= input.data %>" <%= !i ? "checked=\"checked\"" : "" %>>
          <label for="<%= input.data %>"><%= input.label %></label>
          <% }); %>
        </div>
        <!--<div class="type-filter control-block">
          <%
          var types = {};
          for (var k in json.codes) types[json.codes[k].type || ""] = true;
          Object.keys(types).filter(f => f).sort().forEach(function(d) { %>
          <input id="<%= d %>" type="checkbox" name="types" value="<%= d %>" checked="checked">
          <label for="<%= d %>"><%= d %></label>
          <% }) %>
        </div>-->
        <div class="key"></div>
        <div class="map-container" role="img" alt="A map of Seattle upzone data">
          <leaflet-map>
            <map-options>{ "scrollWheelZoom": false }</map-options>
            <tile-layer layer="cartoPositron"></tile-layer>
          </leaflet-map>
          <button class="load-data">Click to load map</button>
        </div>
        <div class="notes">
          <p>
            * Level 0 is not specified within the city's MHA plans, but has been added to show the transition between single-family homes and denser residential options.
          <p>
            ** Under the MHA plan, lowrise zoning (LR1, LR2 and LR3) is redefined to be more dense compared to its previous definition, even if the zoning code remains the same.
        </div>
      </main>
    </responsive-child>

    <script>
window.zoneCodes = <%= JSON.stringify(json.codes) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
